.box {
  width: 375px;
  min-height: 300px;
  background-color: #eee;
  margin-bottom: 10px;
  min-height: 700px;
}



.item {
  margin-bottom: 30px;
}

.elementWrapper {
  background-color: aliceblue;
  border-bottom: 2px solid darkcyan;
}