.layout {
  display: flex;
}

.form,
.operater,
.preview {
  padding: 30px;
  margin: 30px;
  border: 1px solid darkcyan;
}

.operater {
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 10;
}

.preview {
  margin-left: 500px;
}

.form {
  position: fixed;
  right: 500px;
  top: 50px;
  z-index: 10;
  width: 600px;
}

.livePage {
  position: fixed;
  right: 10px;
  top: 50px;
  z-index: 10;
}

.components {
  margin-bottom: 10px;
}

.elements {
  margin-bottom: 10px;
}

.iframe {
  border: none;
  width: 375px;
  height: 667px;
  border: 1px solid darkcyan;
}

.reset {
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
}
